.userMessage {
  display: flex;
  justify-content: flex-end; /* Aligne les messages utilisateur à droite */
  margin: 10px 0;
}

.botMessage {
  display: flex;
  justify-content: flex-start; /* Aligne les messages bot à gauche */
  margin: 10px 0;
}

.bubble {
  padding: 15px;
  border-radius: 16px;
  max-width: 60%;
  word-wrap: break-word;
}

.userMessage .bubble {
  background-color: #d4f1f9; /* Bleu clair */
  color: #333;
}

.botMessage .bubble {
  background-color: #f0f0f0; /* Gris clair */
  color: #333;
}
